.about{
    margin-left: 258px;
    margin-top: -1105px;
}

.about__dollieitem13676{
    display: none;
}

.about__dollie--h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}

.about__dollie--span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
    margin-right: 41px;
}

.about__dollie--span2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #C2C2C2;
}

.about__dollie--list{
    margin-top: 30px;
    margin-left: -35px;
    display: flex;
}

.about__dollie--text{
    margin-left: 10px;
}

.about__dollie--item{
    margin-right: 40px;
    margin-bottom: 49px;
}

.about__recommend--h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;    
    color: #19202C;
    margin-bottom: 30px;
}

.about__recommend--text{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}

.about__recommend--span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    margin-right: 314px;
}

.about__recommend--span2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #C2C2C2;
}

.about__recommend--list{
    margin-left: -35px;
    display: flex;
    margin-bottom: 50px;
}

.about__recommend--item{
    margin-right: 40px;
}

.about__recommend--item8888{
    display: none;
}

.about__food--item145346465{
    display: none;
}



.about__food--link{
    display: flex;
}

.about__food--h3{
    margin-top: 11px;
    margin-left: 20px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}

.about__food--span{
    display: flex;
    margin-left: 249px;
    transform: translateY(-48px);
}

.about__food--link2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.about__food--button{
    width: 154px;
    height: 40px;
    background: #FF0000;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    transition: 2s;
    display: flex;
    margin-left: 950px;
    margin-top: -74px;
}

.about__food--buttonlink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: 2s;
    margin-left: 13px;
    margin-top: 7px;
}



.about__food--list{
    margin-top: 30px;
}

.about__food--texta{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}

.about__food--spans{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
    padding-right: 15px;
}

.about__food--list{
    margin-left: -33px;
    display: flex;
}

.about__food--spans2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #C2C2C2;
}

.about__food--item{
    margin-right: 40px;
}