.account{
    margin-left: 250px;
    margin-top: -1105px;
}

.account__backround{
    margin-bottom: 30px;
}

.account__margaret{
    display: flex;
    margin-bottom: 20px;
}

.account__margaret--imglink{
    margin-right: 14px;
}

.account__margaret--about{
    margin-top: 17px;
    margin-right: 1100px;
}

.account__margaret--aboutlink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}

.account__margaret--aboutspan2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.account__margaret--link{
    cursor: pointer;
    margin-right: 20px;
    margin-top: 37px;
}

.account__margaret--button{
    width: 154px;
    height: 40px;
    cursor: pointer;
    background: #FF0000;
    border-radius: 20px;
    border: 0;
    margin-top: 30px;
}

.account__margaret--buttonlink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.account__nav--link2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF0000;
    margin-right: 69px;
}

.account__nav--list{
    display: flex;
    margin-left: -26px;
    margin-bottom: 54px;
}

.account__nav--link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-right: 69px;
}

.account__flex--h2{
    width: 431px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #19202C;
}

.account__flex--linkimg{
    margin-right: 32px;
}

.account__flex--text{
    width: 548px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;   
    mix-blend-mode: normal;
    opacity: 0.6;
}

.account__flex--spanlink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C2C2C2;
}

.account__flex{
    display: flex;
    margin-bottom: 60px;
}

.account__nav--linkimg{
    margin-top: 3px;
}

.account__flex--itemlink2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}

.account__flex--itemlink1{
    margin-bottom: 30px;
}

.account__flex--itemlink{
    display: flex;
}

.account__flex--itemimglink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #19202C;
    margin-left: 70px;
    margin-top: -34px;
    display: flex;
}

.account__flex--item{
    margin-bottom: 30px;
}

.account__flex--list{
    margin-top: -73px;
    margin-left: 160px;
}

.account__marvideos--h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-bottom: 30px;
}

.account__marvideos--list{
    margin-left: -41px;
}