.dude__h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #192646;
}

.dude__video--iframe{
    margin-bottom: 20px;
}

.dude__h2{
    margin-bottom: 14px;
}

.dude__about--span{
    margin-right: 870px;
}

.dude__about--span2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;  
    color: #C2C2C2;
}

.dude__about--button{
    width: 100px;
    height: 40px;
    border: 0;
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 20px;
    margin-right: 10px;
}

.dude__about--button2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #192646;
}

.dude__aboutbutton3{
    margin-right: 8px;
}

.dude__about--buttonpoint{
    border: 0;
    background: none;
    margin-top: -9px;
}

.dude__linya{
    width: 1363px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 38px;
    margin-left: 3px;
    border: 0;
    background: rgba(216, 216, 216, 0.5);
}

.dude__channel--h3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-bottom: 4px;
}

.dude__channel--span2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.dude__channel--img{
    display: flex;
}

.dude__channel--span{
    margin-left: 100px;
}

.dude__div13452{
    margin-left: 113px;
    margin-top: -88px;
}

.dude__channel--img2{
    margin-right: 12px;
}

.dude__channel--text{
    width: 820px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 15px;
}

.dude__channel--spans2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
}

.dude__channel--fallow{
    width: 154px;
    height: 40px;
    background: #FF0000;
    border-radius: 20px;
    border: none;
    margin-top: -163px;
    margin-left: 1079px;
    display: flex;
}

.dude__channel--fallowlink{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 9px;
}




.dude__right{
    margin-top: -1038px;
    margin-left: 1393px;
}

.dude__right--next{
    display: flex;
}

.dude__right--h4{
    cursor: pointer;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #19202C;
}

.dude__right--auto{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #19202C;
}

.dude__right--circle{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: 1px solid #2196F3;
    background: #2196F3;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
    cursor: pointer;
    margin-top: 57px;
    margin-left: 29px;
}

.dude__right--auto{
    margin-top: 61px;
    margin-left: 138px;
}

.dude__right--next{
    margin-bottom: 25px;
}


.dude__right--list{
    margin-top: -50px;
    margin-left: -43px;
    width: 400px;
    height: 700px;
    overflow: auto;
}

.dude__right--itemlink2{
    margin-top: 13px;
    margin-bottom: 11px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}

.dude__right--itemspan{
    margin-right: 182px;
}

.dude__right--itemspan2{
    margin-top: 11px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #C2C2C2;
}

.dude__right--itemspanlink2{
    margin-top: 11px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #C2C2C2;
}

.dude__right--item{
    margin-bottom: 23px;
}

.dude__right--itemimg{
    border-radius: 15px;
}