.hero__span{
    cursor: pointer;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.video__hero545454{
    display: none;
}

.hero__img{
    margin-right: 13px;
    margin-top: 5px;
}

.hero__link{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.hero__link:hover{
    color: #ff0000;
}


.hero__fallow--h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;   
    color: #000000;
}

.hero__fallow--img{
    padding-right: 10px;
}

.hero__fallow--span{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.hero__fallow--span:hover{
    color: #ff0000;
}

.hero__fallow--item{
    padding: 10px;
}

.hero__fallow--list{
    margin-left: -46px;
    margin-top: -13px;
}

.hero__fallow22 {
    transform: translateY(3px);
}

.hero__fallow2233 {
    margin-bottom: 100px;
}

.hero__fallow--link7{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}